//Portico
@font-face {
  font-family: "Portico";
  src: url("../fonts/Portico Regular.otf") format("truetype");
}

//Epilogue
@font-face {
  font-family: "Epilogue";
  font-weight: 700;
  src: url("../fonts/Epilogue-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Epilogue";
  font-weight: 600;
  src: url("../fonts/Epilogue-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Epilogue";
  font-weight: 500;
  src: url("../fonts/Epilogue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Epilogue";
  font-weight: 400;
  src: url("../fonts/Epilogue-Regular.ttf") format("truetype");
}

//Inter
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}


//LuckiestGuy
@font-face {
  font-family: "LuckiestGuy";
  font-weight: 400;
  src: url("../fonts/LuckiestGuy-Regular.ttf") format("truetype");
}


//SFProText
@font-face {
  font-family: "SFProText";
  font-weight: 500;
  src: url("../fonts/SFProText-Medium.ttf") format("truetype");
}