@import "./normalize.scss";
@import "./fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --blue-default: #4100CC;
  --blue-900: #6857FD;
  --blue-800: #1E90FF;


  --white-default: #FFFFFF;
  --white-900: #FCFCFC;
  --white-800: #B0B0B0;

  --black-default: #000000;
  --black-900: #030303;
  --black-800: rgba(17, 17, 17, 0.67);
  --black-790: #1E1E1E;
  --black-750: rgba(17, 17, 17, 0.16);
  --black-700: #222137;
  --black-650: #2D2D2D;
  --black-600: #2e2e2e;
  --black-500: #383838;
  --black-400: rgba(120, 120, 128, 0.16);
  --black-300: #4F4F4F;

  --green-default: #32CD32;

  --red-default: #FF4500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1 {
  font-size: 28px;
  font-family: "Portico";
  font-weight: 400;
  line-height: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

h4 {
  font-size: 18px;
  font-family: "Portico";
  font-weight: 400;
  line-height: 24px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

span {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

input {
  background: none;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
