@import "./normalize.scss";
@import "./fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --blue-default: #4100cc;
  --blue-900: #6857fd;
  --blue-800: #1e90ff;

  --white-default: #ffffff;
  --white-900: #fcfcfc;
  --white-800: #b0b0b0;
  --white-500: #b0b0b0;
  --white-100: rgba(255, 255, 255, 0.01);

  --black-default: #000000;
  --black-900: #030303;
  --black-800: rgba(17, 17, 17, 0.67);
  --black-790: #1e1e1e;
  --black-750: rgba(17, 17, 17, 0.16);
  --black-700: #222137;
  --black-650: #2d2d2d;
  --black-600: #2e2e2e;
  --black-500: #383838;
  --black-400: rgba(120, 120, 128, 0.16);
  --black-300: #4f4f4f;

  --green-default: #32cd32;

  --red-default: #ff4500;

  --navbar: #030303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  zoom: 1 !important;
  touch-action: manipulation;
}

body {
  color: rgb(var(--foreground-rgb));
  //background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background: linear-gradient(180deg, #1c1c1c 50%, #2e2e2e 103.67%);
  zoom: 1 !important;
  touch-action: manipulation;
}

h1 {
  font-size: 28px;
  font-family: "Portico";
  font-weight: 400;
  line-height: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white-900);
}

h4 {
  font-size: 18px;
  font-family: "Portico";
  font-weight: 400;
  line-height: 24px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

span {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

input {
  background: none;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
