.button-classes {
  -webkit-appearance: none;
  box-shadow:
    19px 19px 24.8px 0px rgba(140, 121, 255, 0.25) inset,
    19px 19px 24.8px 0px rgba(22, 0, 159, 0.25) inset;
  -webkit-box-shadow:
    19px 19px 24.8px 0px rgba(140, 121, 255, 0.25) inset,
    19px 19px 24.8px 0px rgba(22, 0, 159, 0.25) inset;
}
